html {
  overflow: auto;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
body {
  overscroll-behavior-x: none;
  touch-action: none;
}